/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2; /* Light background */
  color: #333; /* Text color */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333; /* Dark text color */
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 90%;
  max-width: 600px;
  background-color: #fff; /* White background */
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  margin-right: 10px;
}

#search-input {
  height: 40px;
  padding: 0 10px;
  width: 200px;
  font-size: 1em;
}

#search-button {
  padding: 12px 20px;
  border-radius: 20px;
  background-color: #7f21ab; /* Pokémon-themed button color */
  color: #fff; /* White text color */
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.name-and-id {
  font-size: 1.3em;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.size {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.sprite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#sprite {
  width: 200px; /* Adjust sprite width */
  height: auto; /* Maintain aspect ratio */
}

table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
}

th {
  background-color: #7f21ab; /* Pokémon-themed header background color */
  color: #fff; /* White text color */
}

tr:nth-child(even) {
  background-color: #f0f0f0; /* Alternate row background color */
}

#types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.type {
  padding: 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-right: 5px;
}

/* Pokémon type colors */
.normal { background-color: #a8a878; }
.fire { background-color: #f08030; }
.water { background-color: #6890f0; }
.electric { background-color: #f8d030; }
.grass { background-color: #78c850; }
.ice { background-color: #98d8d8; }
.fighting { background-color: #c03028; }
.poison { background-color: #a040a0; }
.ground { background-color: #e0c068; }
.flying { background-color: #a890f0; }
.psychic { background-color: #f85888; }
.bug { background-color: #a8b820; }
.rock { background-color: #b8a038; }
.ghost { background-color: #705898; }
.dragon { background-color: #7038f8; }
.dark { background-color: #705848; }
.steel { background-color: #b8b8d0; }
.fairy { background-color: #ee99ac; }

@media (min-width: 768px) {
  h1 {
    font-size: 3em; /* Larger heading size for larger screens */
  }
}
